In [49]:
import pandas as pd
import numpy as np

In [50]:
transactions = {'-LQSjYAxCkPmxH_5gB94': {'amount': '2.20', 'category': 'Food', 'transaction-date': '2018-11-05'}, '-LQSjluG-kA8O5Zr_MQ-': {'amount': '5.5', 'category': 'Food', 'transaction-date': '2018-10-31'}, '-LQSk49CpbHH8q35EJ-K': {'amount': '23', 'category': 'Shopping', 'transaction-date': '2018-11-08'}, '-LQSk7_g53tb1erLoOgr': {'amount': '0.01', 'category': 'Shopping', 'transaction-date': '2018-10-30'}, '-LQSkAmBh97YPoLk8jNU': {'amount': '3', 'category': 'Entertainment', 'transaction-date': '2018-11-02'}}

In [51]:
type(json)

dict

In [52]:
categories = []
amounts = []
for t in transactions:
    category = json.get(t)['category']
    amount = float(json.get(t)['amount'])
    categories.append(category)
    amounts.append(amount)
amounts

[2.2, 5.5, 23.0, 0.01, 3.0]

In [34]:
df = pd.DataFrame({'category': categories})
df['amounts'] = amounts
df = df.groupby('category').agg(sum).reset_index()
df

        category  amounts
0  Entertainment     3.00
1           Food     7.70
2       Shopping    23.01

In [45]:
to_save = np.array(df.to_dict(orient='records'))
to_save

array([{'category': 'Entertainment', 'amounts': 3.0},
       {'category': 'Food', 'amounts': 7.7},
       {'category': 'Shopping', 'amounts': 23.01}], dtype=object)

In [32]:
type(df.to_json(orient='records', lines=True))

str

In [57]:
categories = ["Entertainment", 'Food', 'Shopping', 'Utilities', 'Miscellaneous']

In [60]:
np.random.choice(categories)

'Shopping'

In [56]:
np.random.uniform(0.01,500)

251.08031107309603

In [47]:
# np.save('grouped_categories.npy', to_save)